.btn {
    @apply relative border-t-3 py-3 px-6 rounded-2xl text-xl active:translate-y-0.5 hover:underline inline-flex items-center;
}

.btn-sm {
    @apply border-t-2 py-1 px-3 rounded-xl text-lg active:translate-y-0.5 hover:underline inline-flex items-center;
}


.btn-cta {

    @apply bg-indigo-700 border-t-indigo-500 shadow-lg text-white!
    hover:bg-indigo-600 hover:border-t-indigo-400 hover:shadow-none;

}

.btn-primary {

    @apply bg-zinc-900 border-t-zinc-600 shadow-lg text-white!
    hover:bg-zinc-800 hover:border-t-zinc-500 hover:shadow-none;

}


.project-grid{


    .project-card {

        @apply w-full h-auto aspect-4/3 bg-white/90 rounded-2xl ring-2 ring-neutral-200/5 shadow-md shadow/25;

        .project-img-container{

            @apply w-full h-full rounded-t-2xl overflow-hidden;


            img{
                @apply object-cover aspect-4/3 object-top-left w-full h-auto min-w-xl rounded-t-3xl ring-2 border-zinc-800/90 border-12 relative left-12 top-12 scale-100 group-hover:scale-105 transition-all;
            }

        }

        h3 {
            @apply text-[1.625rem] mt-3 mb-2 px-4 text-zinc-700;

            a{
                @apply hover:underline;
            }
        }

        p{
            @apply text-xl px-4 pb-4 text-zinc-600;
        }

    }

}