.btn {
    @apply relative border-t-3 py-3 px-6 rounded-2xl text-xl active:translate-y-0.5 hover:underline text-center;
}

.btn-sm {
    @apply border-t-2 py-1 px-3 rounded-xl text-lg active:translate-y-0.5 hover:underline text-center;
}


.btn-cta {

    @apply bg-indigo-700 border-t-indigo-500 shadow-lg text-white!
    hover:bg-indigo-600 hover:border-t-indigo-400 hover:shadow-none;

}

.btn-primary {

    @apply bg-slate-900 border-t-slate-600 shadow-lg text-white!
    hover:bg-slate-800 hover:border-t-slate-500 hover:shadow-none;

}


/* navigation bar */


header{


    @apply relative backdrop-blur-md bg-white/10 border-b border-indigo-400/20 w-full ;

    #header-nav-bar{

    @apply flex justify-between py-2 px-2 mx-auto items-center max-w-7xl w-full relative;

    
        #menu-toggle{
            @apply hover:bg-slate-100 ring-1 ring-slate-200/50 shadow-md hover:ring-slate-600 p-1 rounded-lg;

        }

        #mobile-menu{
            @apply sm:flex gap-5 text-lg items-center flex-row;
        }

        @media (width < 40rem ) {

            #mobile-menu{ 
                @apply hidden gap-2 flex-col items-baseline absolute right-4 top-4 bg-white outline outline-indigo-500/10 rounded-2xl px-4 py-4 z-50 min-w-64 *:w-full *:not-last:rounded-lg *:not-last:p-2 *:not-last:hover:bg-slate-100;
            }
         }

    }

}

.project-grid{

    .project-card {

        @apply w-full h-auto aspect-4/3 bg-white/90 rounded-2xl ring ring-indigo-800/10 relative;

        .project-pill{

                @apply text-base rounded-full px-3 py-1 bg-slate-900/50 ring ring-slate-200/25 text-white absolute left-4 top-4 z-10 backdrop-blur;

            }

        .project-img-container{

            @apply w-full h-full rounded-t-2xl overflow-hidden border-b-2 border-slate-100;

            img{
                @apply object-cover aspect-4/3 object-top-left w-full h-auto min-w-xl rounded-t-3xl ring-2 border-slate-800/90 border-12 relative left-12 top-12 scale-100 group-hover:scale-105 transition-all;
            }

        }

        h3 {
            @apply text-2xl mt-3 mb-2 px-4 text-slate-800;

            font-family: "Inter", sans-serif;
            font-optical-sizing: auto;
            font-style: normal;
            font-weight: 500;

            a{
                @apply hover:underline;
            }
        }

        & > p{
            @apply text-xl px-4 pb-4 text-slate-500;
        }

    }

}


/* inputs */
button{

    @apply hover:cursor-pointer;

}


#skills{

    .skills-container{

        h3{

            @apply text-3xl mb-8 text-slate-600;

            font-family: 'inter', sans-serif;

        }

        ul{
            @apply grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-x-1 gap-y-4 mb-24 bg-white px-3 pt-3 pb-4 rounded-3xl ring ring-slate-200;
            
            li{
                @apply w-full h-full text-xl flex flex-col items-center rounded-xl px-1 pt-1 pb-2 aspect-square;

                figure{

                    @apply w-full h-full bg-slate-400/10 flex items-center justify-center mb-2 rounded-xl;

                    svg{
                        @apply size-18 text-indigo-950;
                    }

                }
                .skill-label{

                    @apply text-slate-700 text-base;

                }

            }

        }


    }

}

.hero-section {
	background: radial-gradient(circle,rgb(255, 245, 245) 0%, rgb(253, 225, 196) 63%, rgb(245, 162, 179) 93%, rgb(191, 173, 237) 100%);
}


footer{
        background: radial-gradient(circle, rgb(12 21 40) 2%, rgb(4 2 47) 72%, rgb(123 55 65) 93%, rgb(201 178 176) 100%);
}