.btn {
    @apply relative border-t-3 py-3 px-6 rounded-2xl text-xl active:translate-y-0.5 hover:underline;
}

.btn-sm {
    @apply border-t-2 py-1 px-3 rounded-xl text-lg active:translate-y-0.5 hover:underline;
}


.btn-cta {

    @apply bg-indigo-700 border-t-indigo-500 shadow-lg text-white!
    hover:bg-indigo-600 hover:border-t-indigo-400 hover:shadow-none;

}

.btn-primary {

    @apply bg-zinc-900 border-t-zinc-600 shadow-lg text-white!
    hover:bg-zinc-800 hover:border-t-zinc-500 hover:shadow-none;

}