@import "tailwindcss";

@import "./typography.css";
@import "./header.css";
@import "./components.css";

.container  {
	@apply max-w-5xl w-full mx-auto px-5;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 80
}