@font-face {
  font-family: "Inter Variable";
  src: url("/fonts/inter-variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Funnel Display";
  src: url("/fonts/funnel-display-variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

.funnel-display {
  font-family: "Funnel Display", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 300;
}


h1, h2, h3, h4, h5, h6 {
      font-family: "Funnel Display", sans-serif;
      font-weight: 500;
}


*{
    @apply tracking-tight;
}

main{

    & > p{

    font-family: "Inter", sans-serif;

    @apply text-zinc-700 font-light;
}

p > a {
	@apply underline text-indigo-600
	hover:no-underline hover:text-white hover:bg-indigo-800;
}

}

