---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="relative">
		<Header />
		<main class="">
			<section class="min-h-[75vh] flex items-center justify-center bg-indigo-50">
				<div class="container">
					<h1 class="text-8xl capitalize font-medium mb-6 text-stone-900 funnel-display">Creating <span class="text-indigo-600">Meaningful digital experiences</span>, one Brick at a time.</h1>
					<p class="text-3xl leading-snug">
						UX/UI Designer and Web Developer for <a href="https://vincentdesign.ca/">Vincent Design</a>. Also delving into the world of <a href="https://en.wikipedia.org/wiki/Category:Static_website_generators">Static Site Generators</a>.
					</p>
				</div>
			</section>

			<section class="min-h-[75vh] w-full bg-indigo-200 flex flex-col items-center justify-center text-center p-6">

				<div class="size-20 bg-indigo-300 rounded-full flex items-center justify-center mb-6 outline-2 outline-indigo-500/25">
					<span class="material-symbols-outlined text-6xl! text-indigo-800">
					construction
				</span>
				</div>
				
				<h2 class="text-4xl mx-auto text-indigo-900 max-w-2xl pb-8">This section is currently under construction :)</h2>

			</section>
		</main>
		<Footer />
	</body>
</html>
