---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="relative">
		<Header />
		<main class="">
			<section class="min-h-screen md:min-h-[85vh] flex items-center justify-center hero-section">
				<div class="container">
					<h1 class="text-6xl md:text-7xl xl:text-8xl capitalize font-medium mb-6 text-stone-900 funnel-display">Creating <span class="text-indigo-600 drop-shadow-2xl drop-shadow-purple-400/30">Meaningful digital experiences</span>, one Brick at a time.</h1>
					<p class="text-2xl md:text-4xl leading-snug">
						I am currently a UX/UI Designer and Web Developer for <a href="https://vincentdesign.ca/">Vincent Design</a>.
					</p>
				</div>
			</section>


			<section class="min-h-96 w-full bg-indigo-50/75 border-t-3 drop-shadow-2xl border-white/50 pt-20 pb-28">

					<h2 class="text-5xl text-indigo-900 container mb-16" id="projects">Latest Projects</h2>
					<p></p>

				
				<div class="project-grid container grid grid-cols-1 sm:grid-cols-2 gap-6">

					<div class="project-card Element group">
						<div class="project-img-container bg-linear-to-b from-rose-700 to-orange-200">
							<img src="/images/projects/rivers-to-success-thumb.webp" class="ring-red-100" alt="Indspire Rivers to Success website thumbnail.">
						</div>	
						<h3>
							<a href="https://riverstosuccess.ca" class="Element-Primary-Action">Indspire Rivers to Success</a>
						</h3>
						<p>UI Design and Development</p>
					</div>

					<div class="project-card Element group">
						<div class="project-img-container bg-linear-to-b from-emerald-300 to-amber-50">
							<img src="/images/projects/ceda-thumbnail.webp" class="ring-emerald-200" alt="Community Education Development Association Winnipeg thumbnail.">
						</div>	
						<h3>
							<a href="https://cedawpg.org" class="Element-Primary-Action">CEDA Winnipeg</a>
						</h3>
						<p>UI Design</p>
					</div>

					<div class="project-card Element group">
						<div class="project-img-container bg-linear-to-b from-sky-700 to-emerald-100">
							<img src="/images/projects/the-link-thumbnail.webp" class="ring-red-100" alt="The Link Manitoba website thumbnail.">
						</div>	
						<h3>
							<a href="https://thelinkmb.ca" class="Element-Primary-Action">The Link Manitoba</a>
						</h3>
						<p>UI Design and Development</p>
					</div>

					<div class="project-card Element group">
						<div class="project-img-container bg-linear-to-b from-emerald-900 to-teal-500 relative z-1">
							<span class="text-base rounded-full px-2 py-1 bg-emerald-950 text-zinc-200 relative left-4 top-4 z-5">Upcoming</span>
							<img src="/images/projects/runner-design-thumbnail.webp" class="ring-red-100 z-2" alt="Runner Design thumbnail.">
						</div>	
						<h3>
							Runner Design
						</h3>
						<p>UI Design</p>
					</div>

						<div class="project-card Element group">
						<div class="project-img-container bg-linear-to-b from-yellow-700 to-amber-50">
							<img src="/images/projects/anfca-thumbnail.webp" class="ring-red-100" alt="ANFCA website thumbnail.">
						</div>	
						<h3>
							<a href="https://anfca.com" class="Element-Primary-Action">Alberta Native Friendship Centres</a>
						</h3>
						<p>Web Development</p>
					</div>


						<div class="project-card Element group">
						<div class="project-img-container bg-linear-to-b from-violet-950 to-indigo-300">
							<img src="/images/projects/pgc-thumbnail.webp" class="ring-red-100" alt="PGC website thumbnail.">
						</div>	
						<h3>
							<a href="https://thelinkmb.ca" class="Element-Primary-Action">Playwrights Guild of Canada</a>
						</h3>
						<p>Web Development</p>
					</div>

					

				</div>


			</section>

			<!-- Under Construction Section -->
			<section class="min-h-[75vh] w-full bg-indigo-200 flex flex-col items-center justify-center text-center p-6">
				
				<h2 class="text-4xl mx-auto text-indigo-900 max-w-2xl pb-8">This section is currently under construction :)</h2>

			</section>
		</main>
		<Footer />
	</body>
</html>
