---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="relative">
		<Header />
		<main class="">
			<section class="min-h-[85vh] flex items-center justify-center hero-section py-40">
				<div class="container">
					<h1 class="text-6xl md:text-7xl xl:text-8xl capitalize font-medium mb-8 text-stone-900 text-center mx-auto">Crafting <span class="text-indigo-600 drop-shadow-2xl drop-shadow-purple-400/30">Meaningful digital experiences</span>, one Brick at a time.</h1>
					<p class="text-2xl md:text-3xl leading-snug max-w-3xl text-center mx-auto text-indigo-950/80 px-1 inter">
						UX/UI Designer and Web Developer for Vincent Design. Professional shawarma devourer. Just also became a Canadian Citizen! 🇨🇦
					</p>


				</div>
			</section>

			<!-- Projects Section -->
			<section class="min-h-96 w-full bg-zinc-50/75 border-t-3 border-white/50 pt-20 pb-28">

				<div class="container mb-16">
					<h2 class="text-4xl md:text-5xl text-indigo-900 mb-6" id="projects">Featured Projects</h2>
					<p class="text-2xl md:text-3xl text-zinc-600 leading-snug inter px-2">Vincent Design Inc. owns the design and code for the projects marked with "VDI". But my responsibilities within the project will be listed. I'm also working on the case studies of these projects.</p>
				</div>
				
				<div class="project-grid container grid grid-cols-1 sm:grid-cols-2 gap-6">

					<div class="project-card Element group relative">
						<div class="project-pill"><span>VDI</span></div>
						<div class="project-img-container bg-linear-to-b from-rose-700 to-orange-200 relative">
							<img src="/images/projects/rivers-to-success-thumb.webp" class="ring-red-100" alt="Indspire Rivers to Success website thumbnail.">
						</div>	
						<h3>
							<a href="https://riverstosuccess.ca" class="Element-Primary-Action">Indspire Rivers to Success</a>
						</h3>
						<p>UI Design and Development</p>
					</div>

					<div class="project-card Element group">
						<div class="project-pill"><span>VDI</span></div>
						<div class="project-img-container bg-linear-to-b from-emerald-300 to-amber-50">
							<img src="/images/projects/ceda-thumbnail.webp" class="ring-emerald-200" alt="Community Education Development Association Winnipeg thumbnail.">
						</div>	
						<h3>
							<a href="https://cedawpg.org" class="Element-Primary-Action">CEDA Winnipeg</a>
						</h3>
						<p>UI Design</p>
					</div>

					<div class="project-card Element group">
						<div class="project-pill"><span>VDI</span></div>
						<div class="project-img-container bg-linear-to-b from-sky-700 to-emerald-100">
							<img src="/images/projects/the-link-thumbnail.webp" class="ring-red-100" alt="The Link Manitoba website thumbnail.">
						</div>	
						<h3>
							<a href="https://thelinkmb.ca" class="Element-Primary-Action">The Link Manitoba</a>
						</h3>
						<p>UI Design and Development</p>
					</div>

					<div class="project-card Element group pointer-events-none">
						<div class="project-pill ring-white/10!"><span>Upcoming</span></div>
						<div class="project-img-container bg-linear-to-b from-zinc-900 to-zinc-500 relative z-1">
							<img src="/images/projects/runner-design-thumbnail.webp" class="ring-red-100 z-2 saturate-25 opacity-75" alt="Runner Design thumbnail.">
						</div>	
						<h3>
							Runner Design
						</h3>
						<p>UI Design</p>
					</div>

						<div class="project-card Element group">
						<div class="project-pill"><span>VDI</span></div>
						<div class="project-img-container bg-linear-to-b from-yellow-700 to-amber-50">
							<img src="/images/projects/anfca-thumbnail.webp" class="ring-red-100" alt="ANFCA website thumbnail.">
						</div>	
						<h3>
							<a href="https://anfca.com" class="Element-Primary-Action">Alberta Native Friendship Centres</a>
						</h3>
						<p>Web Development</p>
					</div>


						<div class="project-card Element group">
						<div class="project-pill"><span>VDI</span></div>
						<div class="project-img-container bg-linear-to-b from-violet-950 to-indigo-300">
							<img src="/images/projects/pgc-thumbnail.webp" class="ring-red-100" alt="PGC website thumbnail.">
						</div>	
						<h3>
							<a href="https://thelinkmb.ca" class="Element-Primary-Action">Playwrights Guild of Canada</a>
						</h3>
						<p>Web Development</p>
					</div>

					

				</div>


			</section>

			<!-- Under Construction Section -->
			<section class="min-h-[75vh] w-full bg-indigo-100 flex flex-col items-center justify-center text-center p-6">
				<h2 class="text-4xl mx-auto text-indigo-900 max-w-2xl pb-8">This section is currently under construction :)</h2>
			</section>


			<!-- Skills Section -->
			<section class="min-h-[75vh] py-24 bg-zinc-50" id="skills">
				<div class="skills-container container">
				<h2 class="text-5xl mb-16 text-indigo-900" id="skills">My Skills</h2>


					<h3>Web Design</h3>
					<ul>
						<li>
							<figure>
								<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Solar by 480 Design - https://creativecommons.org/licenses/by/4.0/ --><path fill="currentColor" fill-rule="evenodd" d="M8.667 9.417a2.583 2.583 0 1 0 0 5.166h2.583V9.417zm2.583-1.5H8.667a2.583 2.583 0 0 1 0-5.167h2.583zm1.5-5.167v5.167h2.583a2.584 2.584 0 0 0 0-5.167zm2.583 6.666a2.583 2.583 0 0 0-2.583 2.542v.083a2.583 2.583 0 1 0 2.583-2.625m-6.666 6.667a2.584 2.584 0 1 0 2.583 2.584v-2.584z" clip-rule="evenodd"/></svg>
							</figure>
							<span class="skill-label">Figma</span>
						</li>

						<li>
							<figure>
							<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Basil by Craftwork - https://creativecommons.org/licenses/by/4.0/ --><path fill="currentColor" d="M9.877 3.153a.15.15 0 0 0-.134-.241l-3.503.37a.15.15 0 0 0-.133.166l.397 3.64a.15.15 0 0 0 .268.075zm7.347 4.01a.15.15 0 0 0 .268-.075l.397-3.64a.15.15 0 0 0-.133-.166l-3.503-.37a.15.15 0 0 0-.134.24zM7.836 8.635a.15.15 0 0 1-.119-.242l4.162-5.376a.15.15 0 0 1 .238 0l4.162 5.376a.15.15 0 0 1-.119.242zm1.157 9.625c.068.159-.14.288-.251.158l-6.9-8.035a.15.15 0 0 1 .113-.248h3.452a.15.15 0 0 1 .138.09zm9.596-8.125a.15.15 0 0 0-.138.09l-3.449 8.036c-.067.158.14.287.252.157l6.9-8.035a.15.15 0 0 0-.113-.248zm.261-1.667a.15.15 0 0 0 .149.167h2.78a.15.15 0 0 0 .12-.24l-2.425-3.254a.15.15 0 0 0-.269.073zM4.791 5.214a.15.15 0 0 0-.27-.073L2.098 8.395a.15.15 0 0 0 .12.24h2.78a.15.15 0 0 0 .15-.167zm2.437 5.13a.15.15 0 0 1 .138-.21h9.264c.107 0 .18.11.137.21l-4.631 10.794a.15.15 0 0 1-.276 0z"/></svg>
							</figure>
							<span class="skill-label">Sketch</span>
						</li>

						<li>
							<figure>
								<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Simple Icons by Simple Icons Collaborators - https://github.com/simple-icons/simple-icons/blob/develop/LICENSE.md --><path fill="currentColor" d="M7.654 0L5.13 3.554v2.01L2.934 6.608l-.02-.009v13.109l8.563 4.045L12 24l.523-.247l8.563-4.045V6.6l-.017.008l-2.196-1.045V3.555l-.077-.108L16.349.001l-2.524 3.554v.004L11.989.973l-1.823 2.566l-.065-.091zm.447 2.065l.976 1.374H6.232l.964-1.358zm8.694 0l.976 1.374h-2.845l.965-1.358zm-4.36.971l.976 1.375h-2.845l.965-1.359zM5.962 4.132h1.35v4.544l-1.35-.638Zm2.042 0h1.343v5.506l-1.343-.635zm6.652 0h1.35V9l-1.35.637zm2.042 0h1.343v3.905l-1.343.634zm-6.402.972h1.35v5.62l-1.35-.638zm2.042 0h1.343v4.993l-1.343.634zm6.534 1.493l1.188.486l-1.188.561zM5.13 6.6v1.047l-1.187-.561ZM3.96 8.251l7.517 3.55v10.795l-7.516-3.55zm16.08 0v10.794l-7.517 3.55V11.802z"/></svg>
							</figure>
							<span class="skill-label">Penpot</span>
						</li>

						<li>
							<figure>
								<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Mage Icons by MageIcons - https://github.com/Mage-Icons/mage-icons/blob/main/License.txt --><path fill="currentColor" d="M10.41 9.48c.35 1.14.71 2.28 1.07 3.44H9.36c.36-1.16.7-2.3 1.05-3.44"/><path fill="currentColor" d="M17 2H7a5 5 0 0 0-5 5v10a5 5 0 0 0 5 5h10a5 5 0 0 0 5-5V7a5 5 0 0 0-5-5m-2.51 14.78h-1.56a.24.24 0 0 1-.27-.2c-.19-.56-.39-1.12-.58-1.69a.27.27 0 0 0-.32-.22H9.1a.27.27 0 0 0-.33.23c-.17.56-.36 1.1-.53 1.66a.26.26 0 0 1-.31.22H6.56c-.24 0-.26 0-.18-.25l2.16-6.23c.2-.57.4-1.14.58-1.71a2 2 0 0 0 .08-.52c0-.21.08-.26.27-.25h1.91c.14 0 .21 0 .26.19l2.46 6.93c.19.54.38 1.07.56 1.6c.08.22.07.24-.17.24m3.06-.17c0 .17-.07.22-.23.22h-1.44c-.2 0-.25-.08-.25-.26v-6.28c0-.2.06-.28.27-.27h1.41c.16 0 .24 0 .24.22q-.01 3.18 0 6.37m-1-7.3a1 1 0 0 1-1.06-1.08a1.07 1.07 0 0 1 1.1-1.06a1 1 0 0 1 1 1.08a1 1 0 0 1-1 1.06z"/><path fill="currentColor" d="M11.48 12.92H9.36c.36-1.16.7-2.3 1-3.44c.4 1.14.76 2.28 1.12 3.44"/></svg>
							</figure>
							<span class="skill-label">Adobe Illustrator</span>
						</li>

						<li>
							<figure>
								<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Mage Icons by MageIcons - https://github.com/Mage-Icons/mage-icons/blob/main/License.txt --><path fill="currentColor" d="M10.45 10.48a1.3 1.3 0 0 1-1 1.33a4.8 4.8 0 0 1-1.61.19c-.14 0-.15-.09-.15-.19V9.26c0-.07.07-.19.11-.19a4.9 4.9 0 0 1 1.71.11a1.28 1.28 0 0 1 .94 1.3"/><path fill="currentColor" d="M17 2H7a5 5 0 0 0-5 5v10a5 5 0 0 0 5 5h10a5 5 0 0 0 5-5V7a5 5 0 0 0-5-5m-6 11a3.5 3.5 0 0 1-1.68.54H7.98c-.28 0-.28 0-.28.27v2.32c0 .2-.06.26-.26.26H6.12c-.19 0-.24-.07-.24-.25V7.71c0-.2 0-.26.25-.26h3.13a3.34 3.34 0 0 1 1.62.47a2.75 2.75 0 0 1 1.4 2.39A2.83 2.83 0 0 1 11 13m5.92 3.3a4.6 4.6 0 0 1-2.73.19q-.409-.09-.8-.24a.29.29 0 0 1-.16-.2v-1.51c.32.12.62.26.93.36a3.66 3.66 0 0 0 1.61.14q.162-.03.31-.1a.37.37 0 0 0 .08-.63a4 4 0 0 0-.73-.4c-.41-.2-.83-.36-1.22-.59a1.82 1.82 0 0 1-1-1.93a2 2 0 0 1 1.36-1.63a4.2 4.2 0 0 1 2-.17c.32 0 .63.12.95.18c.17 0 .23.14.22.31v1.17c0 .22-.05.24-.25.16a3.87 3.87 0 0 0-2-.34a.9.9 0 0 0-.28.08a.37.37 0 0 0-.1.63q.434.289.91.5c.38.19.78.34 1.15.55a1.73 1.73 0 0 1 1 1.79a1.92 1.92 0 0 1-1.26 1.64z"/></svg>
							</figure>
							<span class="skill-label">Adobe Photoshop</span>
						</li>
					</ul>


					<h3>Web Development</h3>
					<ul>

						<li>
							<figure>
								<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Google Material Icons by Material Design Authors - https://github.com/material-icons/material-icons/blob/master/LICENSE --><path fill="currentColor" d="M12 2C6.49 2 2 6.49 2 12s4.49 10 10 10s10-4.49 10-10S17.51 2 12 2M3.01 12c0-1.3.28-2.54.78-3.66l4.29 11.75c-3-1.46-5.07-4.53-5.07-8.09M12 20.99c-.88 0-1.73-.13-2.54-.37l2.7-7.84l2.76 7.57c.02.04.04.09.06.12c-.93.34-1.93.52-2.98.52m1.24-13.21c.54-.03 1.03-.09 1.03-.09c.48-.06.43-.77-.06-.74c0 0-1.46.11-2.4.11c-.88 0-2.37-.11-2.37-.11c-.48-.02-.54.72-.05.75c0 0 .46.06.94.09l1.4 3.84l-1.97 5.9l-3.27-9.75c.54-.02 1.03-.08 1.03-.08c.48-.06.43-.77-.06-.74c0 0-1.46.11-2.4.11c-.17 0-.37 0-.58-.01C6.1 4.62 8.86 3.01 12 3.01c2.34 0 4.47.89 6.07 2.36c-.04 0-.08-.01-.12-.01c-.88 0-1.51.77-1.51 1.6c0 .74.43 1.37.88 2.11c.34.6.74 1.37.74 2.48c0 .77-.3 1.66-.68 2.91l-.9 3zm6.65-.09a8.99 8.99 0 0 1-3.37 12.08l2.75-7.94c.51-1.28.68-2.31.68-3.22c0-.33-.02-.64-.06-.92"/></svg>
							</figure>
							<span class="skill-label">Wordpress</span>
						</li>

						<li>
							<figure>
								<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24"><path fill="currentColor" d="m12 17.56l4.07-1.13l.55-6.1H9.38L9.2 8.3h7.6l.2-1.99H7l.56 6.01h6.89l-.23 2.58l-2.22.6l-2.22-.6l-.14-1.66h-2l.29 3.19zM4.07 3h15.86L18.5 19.2L12 21l-6.5-1.8z"/></svg>
							</figure>
							<span class="skill-label">HTML</span>
						</li>

						<li>
							<figure>
							<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24"><!-- Icon from Lineicons by Lineicons - https://github.com/LineiconsHQ/Lineicons/blob/main/LICENSE.md --><path fill="currentColor" d="M3.232 2.24c0 .134.339 4.05.757 8.705c.41 4.647.765 8.59.774 8.759l.027.302l3.605.997L11.99 22l.72-.196l3.588-.988c2.456-.676 2.875-.819 2.91-.97c.045-.214 1.558-17.365 1.558-17.65V2H3.232zm14.304 3.783c-.036.214-.267 2.742-.516 5.634c-.258 2.884-.472 5.27-.49 5.287c-.036.045-4.406 1.255-4.53 1.255c-.09 0-2.475-.65-4.104-1.112l-.454-.134l-.106-1.175a76 76 0 0 0-.16-1.744l-.054-.552h1.113c1.255 0 1.22-.018 1.228.757c0 .195.027.498.053.676l.054.32l1.22.32l1.21.321l1.201-.32c.659-.178 1.21-.33 1.21-.33c.01-.008.063-.534.117-1.166c.053-.64.115-1.263.142-1.406l.044-.24H7.078l-.045-.205c-.027-.107-.08-.623-.116-1.157l-.062-.952h8.02l.053-.606c.036-.329.089-.836.116-1.121c.035-.365.026-.507-.045-.463c-.053.027-1.949.027-4.228-.009l-4.138-.053l-.054-.632c-.035-.347-.08-.846-.107-1.104L6.42 5.65h11.16z"/></svg>
							</figure>
							<span class="skill-label">CSS</span>
						</li>

						<li>
							<figure>
								<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 24 24"><!-- Icon from Material Design Icons by Pictogrammers - https://github.com/Templarian/MaterialDesign/blob/master/LICENSE --><path fill="currentColor" d="M3 3h18v18H3zm4.73 15.04c.4.85 1.19 1.55 2.54 1.55c1.5 0 2.53-.8 2.53-2.55v-5.78h-1.7V17c0 .86-.35 1.08-.9 1.08c-.58 0-.82-.4-1.09-.87zm5.98-.18c.5.98 1.51 1.73 3.09 1.73c1.6 0 2.8-.83 2.8-2.36c0-1.41-.81-2.04-2.25-2.66l-.42-.18c-.73-.31-1.04-.52-1.04-1.02c0-.41.31-.73.81-.73c.48 0 .8.21 1.09.73l1.31-.87c-.55-.96-1.33-1.33-2.4-1.33c-1.51 0-2.48.96-2.48 2.23c0 1.38.81 2.03 2.03 2.55l.42.18c.78.34 1.24.55 1.24 1.13c0 .48-.45.83-1.15.83c-.83 0-1.31-.43-1.67-1.03z"/></svg>
							</figure>
							<span class="skill-label">JS</span>
						</li>

						<li>
							<figure>
								<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><!-- Icon from Material Design Icons by Pictogrammers - https://github.com/Templarian/MaterialDesign/blob/master/LICENSE --><path fill="currentColor" d="M12 18.08c-6.63 0-12-2.72-12-6.08s5.37-6.08 12-6.08S24 8.64 24 12s-5.37 6.08-12 6.08m-5.19-7.95c.54 0 .91.1 1.09.31c.18.2.22.56.13 1.03c-.1.53-.29.87-.58 1.09q-.42.33-1.29.33h-.87l.53-2.76zm-3.5 5.55h1.44l.34-1.75h1.23c.54 0 .98-.06 1.33-.17c.35-.12.67-.31.96-.58c.24-.22.43-.46.58-.73c.15-.26.26-.56.31-.88c.16-.78.05-1.39-.33-1.82c-.39-.44-.99-.65-1.82-.65H4.59zm7.25-8.33l-1.28 6.58h1.42l.74-3.77h1.14c.36 0 .6.06.71.18s.13.34.07.66l-.57 2.93h1.45l.59-3.07c.13-.62.03-1.07-.27-1.36c-.3-.27-.85-.4-1.65-.4h-1.27L12 7.35zM18 10.13c.55 0 .91.1 1.09.31c.18.2.22.56.13 1.03c-.1.53-.29.87-.57 1.09c-.29.22-.72.33-1.3.33h-.85l.5-2.76zm-3.5 5.55h1.44l.34-1.75h1.22c.55 0 1-.06 1.35-.17c.35-.12.65-.31.95-.58c.24-.22.44-.46.58-.73c.15-.26.26-.56.32-.88c.15-.78.04-1.39-.34-1.82c-.36-.44-.99-.65-1.82-.65h-2.75z"/></svg>
							</figure>
							<span class="skill-label">PHP</span>
						</li>

					</ul>
				</div>
				
			</section>

		</main>
		<Footer />
	</body>
</html>
