---
const today = new Date();
---

<footer class="bg-indigo-100 pt-24">


	<div class="container mx-auto flex flex-col gap-4 min-h-120">
	<h2 class="text-7xl text-indigo-950 capitalize">
		Let's build something awesome.
	</h2>
	<p class="text-3xl text-zinc-800 font-light max-w-4xl leading-snug mb-6">Have a web project in mind? A spicy take about Breaking Bad? Let me be the first to know!</p>

	<a href="mailto:brickadamosamador@gmail.com" class="btn btn-primary w-fit">Let's Chat!</a>
	</div>
	

	<div class="mx-auto max-w-3xl text-center text-lg py-4">
		<p class="text-zinc-700 font-light">&copy; {today.getFullYear()} Designed and hand coded by Brick Adamos | Made with AstroJS + TailwindCSS 4 + Cloudflare Pages | All rights reserved.</p>
	</div>
	
</footer>