---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<div class="py-2 px-4 w-full bg-amber-400 text-center"><p class="text-black">This site is under construction. It's not currently responsive, accessible, or complete.</p></div>
<header class="absolute top-12 left-0 w-full p-6">
	<nav class="bg-white/75 outline outline-indigo-500/10 shadow-lg shadow/10 max-w-3xl w-full rounded-2xl flex justify-between py-2 px-2 mx-auto items-center">
		<div class="flex items-center gap-2 Element group hover:ring-1 ring-indigo-600/50 p-1 rounded-xl">
			<div class="rounded-full bg-indigo-200 size-9 p-1 *:scale-100 group-hover:*:scale-110 group-hover:bg-indigo-50 overflow-hidden transition-all ease-in">
				<img src="/branding/brick-site-logo.webp" alt="Brick Emoji" class="object-fit">
			</div>
			<h2 class="text-xl funnel-display font-medium">
				<a href="/" class="flex items-center gap-3 Element-Primary-Action">{SITE_TITLE}</a>
			</h2>
		</div>
		<div class="internal-links hidden md:flex gap-5 text-lg items-center">
			<HeaderLink href="/">Projects</HeaderLink>
			<HeaderLink href="/blog">About</HeaderLink>
			<HeaderLink href="/about">Skills</HeaderLink>
			<HeaderLink class="btn-sm btn-cta" href="mailto:brickadamosamador@gmail.com">Let's Chat!
		</div>
	</nav>
</header>