---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<div class="py-2 px-4 w-full bg-amber-400 text-center"><p class="text-black">Brick is currently building the website. It's not accessible or complete yet. :3</p></div>
<header class="absolute top-12 left-0 w-full p-6">
	<nav id="header-nav-bar">
		<div class="flex items-center gap-2 Element group hover:ring-1 ring-indigo-600/50 p-1 rounded-xl">
			<div class="rounded-full bg-indigo-200 size-9 p-1 *:scale-100 group-hover:*:scale-110 group-hover:bg-indigo-50 overflow-hidden transition-all ease-in">
				<img src="/branding/brick-site-logo.webp" alt="Brick Emoji" class="object-fit">
			</div>
			<h2 class="text-xl funnel-display font-medium">
				<a href="/" class="flex items-center gap-3 Element-Primary-Action">{SITE_TITLE}</a>
			</h2>
		</div>

		<button id="menu-toggle" aria-label="Toggle navigation" class="block sm:hidden">	
			<svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" transform="rotate(0 0 0)">
				<path d="M20 7.125L4 7.125C3.37868 7.125 2.875 6.62132 2.875 6C2.875 5.37868 3.37868 4.875 4 4.875L20 4.875C20.6213 4.875 21.125 5.37868 21.125 6C21.125 6.62132 20.6213 7.125 20 7.125ZM20 13.125L4 13.125C3.37868 13.125 2.875 12.6213 2.875 12C2.875 11.3787 3.37868 10.875 4 10.875L20 10.875C20.6213 10.875 21.125 11.3787 21.125 12C21.125 12.6213 20.6213 13.125 20 13.125ZM20 19.125L4 19.125C3.37868 19.125 2.875 18.6213 2.875 18C2.875 17.3787 3.37868 16.875 4 16.875L20 16.875C20.6213 16.875 21.125 17.3787 21.125 18C21.125 18.6213 20.6213 19.125 20 19.125Z" fill="#343C54 "/>
			</svg>
		</button>
		
		<div id="mobile-menu" class="internal-links">
			<HeaderLink href="#projects">Projects</HeaderLink>
			<HeaderLink class="opacity-30 pointer-events-none">About</HeaderLink>
			<HeaderLink class="opacity-30 pointer-events-none">Skills</HeaderLink>
			<HeaderLink class="btn-sm btn-cta" href="mailto:brickadamosamador@gmail.com">Let's Chat!
		</div>
	</nav>
</header>

<script>
  const toggle = document.getElementById("menu-toggle");
  const menu = document.getElementById("mobile-menu");

  toggle?.addEventListener("click", (e) => {
    e.stopPropagation();
    menu?.classList.toggle("!flex");
  });

  document.addEventListener("click", (e) => {
    if (!menu || !toggle) return;

    const target = e.target;

    if (!(target instanceof Node)) return;

    const clickedOutside =
      !menu.contains(target) && !toggle.contains(target);

    if (clickedOutside) {
      menu.classList.remove("!flex");
    }
  });
</script>
