---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<div class="py-2 px-4 w-full bg-amber-400 text-center"><p class="text-black">This site is under construction. It's not currently responsive, accessible, or complete.</p></div>
<header class="absolute top-8 left-0 w-full p-6">
	<nav class="bg-white/75 outline outline-indigo-500/10 shadow-lg shadow/10 max-w-3xl w-full rounded-2xl flex justify-between py-2 px-2 mx-auto items-center">
		<h2 class="text-xl funnel-display font-medium"><a href="/" class="flex items-center gap-3"><img src="/favicon.ico" class="rounded-full bg-indigo-50 size-9" alt=""> {SITE_TITLE}</a></h2>
		<div class="internal-links flex gap-5 text-lg items-center">
			<HeaderLink href="/">Projects</HeaderLink>
			<HeaderLink href="/blog">About</HeaderLink>
			<HeaderLink href="/about">Skills</HeaderLink>
			<HeaderLink class="btn-sm btn-primary" href="mailto:brickadamosamador@gmail.com">Let's Connect</HeaderLink>
		</div>
	</nav>
</header>